package views

import "tpIntegradorSaideCurtale/db/sqlc"

templ BarberList(barberos []db.Barbero) {
    <table id="barberos-list">
        <thead>
            <tr>
                <th>Id_barbero</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>especialidad</th>
            </tr>
        </thead>
        @BarberListRows(barberos)
    </table>
}