package views

import "tpIntegradorSaideCurtale/db/sqlc"

templ ClientList(clientes []db.Cliente) {
    <table id="clientes-list">
        <thead>
            <tr>
                <th>id_cliente</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>telefono</th>
                <th>email</th>
            </tr>
        </thead>
        @ClientListRows(clientes)
    </table>
}
