package views


templ ClientesPage(clientes []db.Cliente) {
    @Layout("Clientes", 
        <section>
            <h2>Lista de Clientes</h2>
            @ClientList(clientes)
            <h3>Agregar nuevo cliente</h3>
            @ClienteForm()
        </section>
    )
}
