package views


templ NotificacionError(mensaje string) {
    <div id="notificaciones" hx-swap-oob="true">
        if mensaje != "" {
            <article style="background-color: #ffebee; color: #c62828; padding: 1rem; margin-bottom: 1rem; border-radius: 4px;">
                <strong>Error:</strong> { mensaje }
            </article>
        } else {
            <div id="notificaciones"></div>
        }
    </div>
}