package views

import "tpIntegradorSaideCurtale/db/sqlc"


templ TurnosPage(turnos []db.Turno) {
    @Layout("Turnos",
        <section>
            <h2>Lista de Turnos</h2>
            @TurnoList(turnos)

            <h3>Agregar nuevo turno</h3>
            @TurnoForm()
        </section>
    )
}
