package views

import db "tpIntegradorSaideCurtale/db/sqlc"

templ TurnosPage(turnos []db.Turno,clientes []db.Cliente, barberos []db.Barbero) {
    @Layout("Turnos", "turnos", TurnoList(turnos))
    @BarberList(barberos)
    @ClientList(clientes)
    @TurnoForm(turnos,clientes,barberos)
}