
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Barbero</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="static/logo.png" type="image/png">

</head>
<body>

    <div class="botones">
        <a href="/aboutUs" class="btn-about">Más sobre nosotros</a>
        <a href="/turno" class="btn-sidebar">Sacar turno</a>
        <a href="/cliente" class="btn-sidebar">Registrar cliente</a>
    </div>

    <div class="page">
        <section class="panel left-panel">
            <form accept-charset="utf-8" autocomplete="on" class="form-barbero" id="form-barbero">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>

                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" required>

                <label for="especialidad">Especialidad:</label>
                <input type="text" id="especialidad" name="especialidad">

                <button type="submit">Crear Barbero</button>
            </form>
            <div id="respuestaApi"></div>
        </section>

        <aside class="panel right-panel list-panel">
            <div class="hero-bg message-success hidden" id="msg-success">Barbero creado con éxito.</div>
            <button id="ver-todos-barberos">Ver todos</button>
            <div id="lista-barberos"></div>
        </aside>
    </div>
    <script src="/static/barbero.js"></script>
</body>
</html>
