<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cliente</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="static/logo.png" type="image/png">

</head>
<body>
    <div class="botones">
        <a href="/turno" class="btn-sidebar">Sacar turno</a>
        <a href="/barbero" class="btn-sidebar">Registrar barbero</a>
        <a href="/aboutUs" class="btn-about">Más sobre nosotros</a>
    </div>
    <div class="page">
        <section class="panel left-panel">
            <form accept-charset="utf-8" autocomplete="on" class="form-cliente" id="form-cliente">
                <label for="nombre">Nombre:</label>
                <input 
                type="text" 
                id="nombre" 
                name="nombre" 
                placeholder="Juan"
                pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+$"
                required>

                <label for="apellido">Apellido:</label>
                <input 
                type="text" 
                id="apellido" 
                name="apellido" 
                placeholder="Gonzalez"
                pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+$"
                required>

                <label for="telefono">Teléfono:</label>
                <input id="telefono" 
                   name="telefono" 
                   type="tel" 
                   required 
                   autocomplete="tel" 
                   placeholder="54 9 11 1234-5678"
                   pattern="[0-9]+"
                   maxlength="20"
                   title="Solo se permiten números (máximo 20 dígitos)" />

                <label for="email">Email:</label>
                <input type="email" id="email" name="email">

                <button type="submit">Crear Cliente</button>
            </form>
            <div id="respuestaApi"></div>
        </section>

        <aside class="panel right-panel list-panel">
            
            <button id="ver-todos-clientes">Ver todos</button>
            <div id="lista-clientes"></div>
        </aside>
    </div>
    <script src="/static/cliente.js"></script>
</body>
</html>